{
    "printWidth": 100,
    "tabWidth": 2,
    "singleQuote": true,
    "bracketSameLine": true,
    "endOfLine":"auto",
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always"
}